<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>

<div class="card mb-3">
    <div class="no-gutters row">
        <div class="col-md-12 col-lg-4">
            <ul class="list-group list-group-flush">
                <li class="bg-transparent list-group-item">
                    <div class="widget-content p-0">
                        <div class="widget-content-outer">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="widget-heading">Quotations Requested</div>
                                    <div class="widget-subheading">Overall requested quotations</div>
                                </div>
                                <div class="widget-content-right">
                                    <div class="widget-numbers">{{quotationGeneralReports.totalQuotationsRequested}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="bg-transparent list-group-item">
                    <div class="widget-content p-0">
                        <div class="widget-content-outer">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="widget-heading">Quotations Pending Customer Approval</div>
                                    <div class="widget-subheading">Quotations awaiting customer approval</div>
                                </div>
                                <div class="widget-content-right">
                                    <div class="widget-numbers">{{quotationGeneralReports.totalPendingCustomerApproval}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-12 col-lg-4">
            <ul class="list-group list-group-flush">
                <li class="bg-transparent list-group-item">
                    <div class="widget-content p-0">
                        <div class="widget-content-outer">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="widget-heading">Quotations Pending Manager Approval</div>
                                    <div class="widget-subheading">Needs manager approval</div>
                                </div>
                                <div class="widget-content-right">
                                    <div class="widget-numbers">{{quotationGeneralReports.totalPendingManagerApproval}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="bg-transparent list-group-item">
                    <div class="widget-content p-0">
                        <div class="widget-content-outer">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="widget-heading">Accepted Quotation</div>
                                    <div class="widget-subheading">Accepted quotations by a client</div>
                                </div>
                                <div class="widget-content-right">
                                    <div class="widget-numbers">{{quotationGeneralReports.totalAccepted}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-12 col-lg-4">
            <ul class="list-group list-group-flush">
                <li class="bg-transparent list-group-item">
                    <div class="widget-content p-0">
                        <div class="widget-content-outer">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="widget-heading">Quotation Pending Employee Attention</div>
                                    <div class="widget-subheading">Quotations awaiting to be processed by an employee</div>
                                </div>
                                <div class="widget-content-right">
                                    <div class="widget-numbers">{{quotationGeneralReports.totalPendingEmployeeAttention}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="bg-transparent list-group-item">
                    <div class="widget-content p-0">
                        <div class="widget-content-outer">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="widget-heading">Rejected Quotation</div>
                                    <div class="widget-subheading">Rejected quotations by a client</div>
                                </div>
                                <div class="widget-content-right">
                                    <div class="widget-numbers">{{quotationGeneralReports.totalRejected}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="mb-3 card">
    <div class="card-header-tab card-header">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
            <i class="header-icon lnr-charts icon-gradient bg-happy-green"> </i>
            Clients Summary
        </div>
    </div>
    <div class="no-gutters row" style="margin-left: 8%">
        <div class="col-sm-6 col-md-4 col-xl-4">
            <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
                <div class="icon-wrapper rounded-circle">
                    <div class="icon-wrapper-bg opacity-10 bg-warning"></div>
                    <i class="fa fa-fw text-white" aria-hidden="true" title="users"></i>
                </div>
                <div class="widget-chart-content">
                    <div class="widget-subheading">Total Number of Clients</div>
                    <div class="widget-numbers">{{clients.length}}</div>
                    <div class="widget-description opacity-8 text-primary">
                        Increased by
                        <div class="d-inline text-info pr-1">
                            <fa name="angle-down"></fa>
                            <span class="pl-1">{{numberOfClients}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider m-0 d-md-none d-sm-block"></div>
        </div>
        <div class="col-sm-6 col-md-4 col-xl-4">
            <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
                <div class="icon-wrapper rounded-circle">
                    <div class="icon-wrapper-bg opacity-9 bg-premium-dark"></div>
                    <i class="fa fa-fw text-white" aria-hidden="true" title="users"></i>
                </div>
                <div class="widget-chart-content">
                    <div class="widget-subheading">Active Clients</div>
                    <div class="widget-numbers"><span>{{numberOfActiveClients}}</span></div>
                    <div class="widget-description opacity-8 text-primary">
                        Inactive clients
                        <span class="text-info pl-1">
                        <fa name="angle-down"></fa>
                        <span class="pl-1">{{numberOfInactiveClients}}</span></span>
                    </div>
                </div>
            </div>
            <div class="divider m-0 d-md-none d-sm-block"></div>
        </div>
        <div class="col-sm-12 col-md-4 col-xl-4">
            <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
                <div class="icon-wrapper rounded-circle">
                    <div class="icon-wrapper-bg opacity-9 bg-warning"></div>
                    <i class="fa fa-fw text-white" aria-hidden="true" title="users"></i>
                </div>
                <div class="widget-chart-content">
                    <div class="widget-subheading">Client Satisfaction</div>
                    <div class="widget-numbers"><span>{{clientsGeneralReports.averageClientSatisfaction | number:'1.0-0'}}%</span></div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center d-block p-3 card-footer">
        <button class="btn-pill btn-shadow btn-wide fsize-1 btn btn-dark btn-lg" routerLink="/clients" [hidden]="!showManagerMenu()">
                  <span class="mr-2 opacity-7">
                      <i class="icon icon-anim-pulse ion-ios-analytics-outline"></i>
                  </span>
            <span class="mr-1">View Clients Report</span>
        </button>
    </div>
</div>
<div class="main-card mb-3 card">
    <div class="card-header">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">Overall Projects Report </div>
    </div>
    <div style="display: flex">
        <div class="col-lg-6">
            <div class="table-responsive ">
                <table class="align-middle mb-0 table table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="text-center text-white" style="border:#fcf8e3 solid 1px; background-color: #a7a4a4">Ongoing Projects</th>
                        <th class="text-center text-white" style="border:#fcf8e3 solid 1px; background-color: #a7a4a4">Completed Projects</th>
                        <th class="text-center text-white" style="border:#fcf8e3 solid 1px; background-color: #a7a4a4">Not Started Projects</th>
                        <th class="text-center text-white" style="border:#fcf8e3 solid 1px; background-color: #a7a4a4">Paused Projects</th>
                    </tr>
                    </thead>
                    <tbody *ngIf="generalProjectData != null">

                    <tr >
                        <td class="text-center" style="font-weight: bolder; font-size: xx-large">{{generalProjectData.ongoingProjects | number:'1.0-0'}}</td>
                        <td class="text-center" style="font-weight: bolder; font-size: xx-large">{{generalProjectData.completedProjects | number:'1.0-0'}}</td>
                        <td class="text-center" style="font-weight: bolder; font-size: xx-large">{{generalProjectData.notStartedProjects | number:'1.0-0'}}</td>
                        <td class="text-center" style="font-weight: bolder; font-size: xx-large">{{generalProjectData.pausedProjects | number:'1.0-0'}}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="col-lg-6">
            <div class="d-block">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>

    <div class="d-block p-4 text-center card-footer">
        <button class="btn-pill btn-shadow btn-wide fsize-1 btn btn-dark btn-lg" [hidden]="!showManagerMenu()">
            <span class="mr-2 opacity-7">
                <i class="fa fa-cog fa-spin"></i>
            </span>
            <span class="mr-1">View Complete Report</span>
        </button>
    </div>
</div>

<div *ngIf="isLoading" class="overlay">
    <div class="spinner">
        <img class="loader" src="../../../assets/wheel.gif">
    </div>
</div>

