<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>

<div class="main-card mb-3 card">
    <div class="table-responsive">
        <div class="form-group">
            <input style="border: solid  #05b5d4 1px; width: 95%; margin: 2%" type="text" class="form-control" placeholder="Search Here" [(ngModel)]="filter">
        </div>

        <table class="align-middle mb-0 table table-striped table-hover">
            <thead>
                <tr>
                    <th class="text-center">Reference</th>
                    <th class="text-center">Date</th>
                    <th class="text-center">Grand total</th>
                    <th class="text-center">Total payed</th>
                    <th class="text-center">Amount Due</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody *ngIf="invoices.length != 0">
                <tr *ngFor="let invoice of invoices | paginate: config | filter: filter">
                    <td class="text-center">{{invoice.reference}}</td>
                    <td class="text-center">{{invoice.invoice_date | date:'yyyy-MM-dd'}}</td>
                    <td class="text-center">R {{invoice.grand_totoal}}</td>
                    <td class="text-center">R {{invoice.amount_payed}}</td>
                    <td class="text-center">R {{invoice.amount_due}}</td>
                    <td class="text-center">
                        <button type="button" class="mr-2 btn-icon btn-icon-only btn btn-dark"
                                (click)="viewPDF(invoice)">
                            <i class="pe-7s-look btn-icon-wrapper"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text" *ngIf="invoices.length == 0">
        No Records Found!
    </div>
    <pagination-controls (pageChange)="pageChanged($event)" style="margin-top: 5%"></pagination-controls>
</div>


<div *ngIf="isLoading | async" class="overlay">
    <div class="spinner">
        <img class="loader" src="../../../assets/wheel.gif">
    </div>
</div>