<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>

<div class="main-card mb-3 card">
    <div class="table-responsive">
        <div class="form-group">
            <input style="border: solid  #05b5d4 1px; width: 95%; margin: 2%" type="text" class="form-control" placeholder="Search Here" [(ngModel)]="filter">
        </div>

        <table class="align-middle mb-0 table table-striped table-hover">
            <thead>
                <tr>
                    <th>Reference</th>
                    <th>Date</th>
                    <th>Grand total</th>
                    <th>Total payed</th>
                    <th>Amount Due</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody *ngIf="invoices.length != 0">
                <tr *ngFor="let invoice of invoices | paginate: config | filter: filter">
                    <td>{{invoice.reference}}</td>
                    <td>{{invoice.invoice_date | date:'yyyy-MM-dd'}}</td>
                    <td>R {{invoice.grand_totoal}}</td>
                    <td>R {{invoice.amount_payed}}</td>
                    <td>R {{invoice.amount_due}}</td>
                    <td>
                        <button type="button" class="mr-2 btn-icon btn-icon-only btn btn-outline-dark"
                                (click)="viewPDF(invoice)">
                            <i class="fa fa-fw" aria-hidden="true" title="eye"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text" *ngIf="invoices.length == 0">
        No Records Found!
    </div>
    <pagination-controls (pageChange)="pageChanged($event)" style="margin-top: 5%"></pagination-controls>
</div>


<div *ngIf="isLoading" class="overlay">
    <div class="spinner">
        <img class="loader" src="../../../assets/wheel.gif">
    </div>
</div>