<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>


<div class="main-card mb-3 card">
    <div class="card-header">
        <button type="button" class="btn btn-dark btn-icon-text"
                (click)="addQuotation()">
            <i class="fa fa-fw" aria-hidden="true" title="plus"></i>
            Add Quotation
        </button>
    </div>
    <div class="table-responsive">
        <div class="form-group">
            <input style="border: solid  #05b5d4 1px; width: 95%; margin: 2%" type="text" class="form-control" placeholder="Search Here" [(ngModel)]="filter">
        </div>

        <table class="align-middle mb-0 table table-striped table-hover">
            <thead>
                <tr>
                    <th>Reference</th>
                    <th>Created on</th>
                    <th>Company name</th>
                    <th>Email address</th>
                    <th>Phone number</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody *ngIf="quotations.length != 0">
                <tr *ngFor="let quotation of quotations | paginate: config | filter: filter">
                    <td>{{quotation.quote_reference}}</td>
                    <td>{{quotation.date_generated | date:'yyyy-MM-dd'}}</td>
                    <td>{{quotation.company_name}}</td>
                    <td>{{quotation.email}}</td>
                    <td>{{quotation.phone_Number}}</td>
                    <td>{{quotation.status}}</td>
                    <td>
                        <div class="template-demo">
                            <button type="button" class="mr-2 btn-icon btn-icon-only btn btn-outline-primary"
                                    (click) = "updateQuotation(quotation)">
                                <i class="fa fa-fw" aria-hidden="true" title="pencil"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text" *ngIf="quotations.length == 0">
        No Records Found!
    </div>
    <pagination-controls (pageChange)="pageChanged($event)" style="margin-top: 5%"></pagination-controls>

</div>

<div *ngIf="isLoading" class="overlay">
    <div class="spinner">
        <img class="loader" src="../../../assets/wheel.gif">
    </div>
</div>
