<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>

<div class="container-scroller">
    <div class="toolbar hidden-print">
        <div class="text-right">
            <button type="button" class="btn btn-dark" routerLink="/quotation" style="margin-right: 1%">
                <i class="pe-7s-back btn-icon-wrapper"></i>
                Back
            </button>
        </div>
        <hr>
    </div>
    <div class="card">
        <form class="pt-3"  #quotationForm="ngForm" (ngSubmit)="quotationForm.form.valid && updateQuotation(quotation)">
            <div class="row">
                <div class="form-group row" style="margin-left: 5%; width: 20%">
                    <label>Quote reference</label>
                    <input style="border: solid  #23275b 1px" type="text" class="form-control" placeholder="Quote reference"
                           name="quote_reference"
                           [(ngModel)]="quotation.quote_reference"
                           #reference="ngModel"
                           [ngClass]="{ 'is-invalid': quotationForm.submitted && reference.invalid }"
                           disabled
                           required>
                    <div *ngIf="quotationForm.submitted && reference.invalid" class="invalid-feedback">
                        <div *ngIf=" reference.errors.required">Quote reference is required</div>
                    </div>
                </div>
                <div class="form-group row" style="margin-left: 4%; width: 67%">
                    <label>Company name</label>
                    <input style="border: solid  #23275b 1px" type="text" class="form-control" placeholder="Company name"
                           name="company_name"
                           [(ngModel)]="quotation.company_name"
                           #companyName="ngModel"
                           [ngClass]="{ 'is-invalid': quotationForm.submitted && companyName.invalid }"
                           disabled
                           required>
                    <div *ngIf="quotationForm.submitted && companyName.invalid" class="invalid-feedback">
                        <div *ngIf=" companyName.errors.required">Company name is required</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group row" style="margin-left: 5%; width: 90%">
                    <label>Company registration</label>
                    <input style="border: solid  #23275b 1px" type="text" class="form-control " placeholder="Company registration"
                           name="Registration"
                           [(ngModel)]="quotation.company_registration"
                           #Registration="ngModel"
                           [ngClass]="{ 'is-invalid': quotationForm.submitted && Registration.invalid }"
                           disabled
                           required>
                    <div *ngIf="quotationForm.submitted && Registration.invalid" class="invalid-feedback">
                        <div *ngIf=" Registration.errors.required">Company registration is required</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group row" style="margin-left: 5%; width: 43.5%">
                    <label>Email address</label>
                    <input style="border: solid  #23275b 1px" type="text" class="form-control" placeholder="Email address"
                           name="email"
                           [(ngModel)]="quotation.email"
                           #contactEmail="ngModel"
                           [ngClass]="{ 'is-invalid': quotationForm.submitted && contactEmail.invalid }"
                           disabled
                           required>
                    <div *ngIf="quotationForm.submitted && contactEmail.invalid" class="invalid-feedback">
                        <div *ngIf=" contactEmail.errors.required">Email is required</div>
                    </div>
                </div>

                <div class="form-group row" style="margin-left: 4%; width: 43.5%" >
                    <label>Contact number</label>
                    <input style="border: solid  #23275b 1px" type="text" class="form-control"  placeholder="Contact number"
                           [(ngModel)]="quotation.phone_Number"
                           name="phone_number"
                           #cellNumber="ngModel"
                           [ngClass]="{ 'is-invalid': quotationForm.submitted && cellNumber.invalid }"
                           disabled
                           required>
                    <div *ngIf="quotationForm.submitted && cellNumber.invalid" class="invalid-feedback">
                        <div *ngIf=" cellNumber.errors.required">Phone number is required</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group row" style="margin-left: 5%; width: 43.5%">
                    <label>Date created</label>
                    <input style="border: solid  #23275b 1px" type="text" class="form-control" placeholder="Date generated"
                           name="date_generated"
                           [ngModel]="quotation.date_generated | date:'yyyy-MM-dd'"
                           #dateGenerated="ngModel"
                           [ngClass]="{ 'is-invalid': quotationForm.submitted && dateGenerated.invalid }"
                           disabled
                           required>
                    <div *ngIf="quotationForm.submitted && dateGenerated.invalid" class="invalid-feedback">
                        <div *ngIf=" dateGenerated.errors.required">Email is required</div>
                    </div>
                </div>

                <div class="form-group row" style="margin-left: 4%; width: 43.5%" >
                    <label>Expiry Date</label>
                    <input style="border: solid  #23275b 1px" type="text" class="form-control"  placeholder="Expiry date"
                           [ngModel]="quotation.quote_expiryDate | date:'yyyy-MM-dd'"
                           name="quote_expiryDate"
                           #expiryDate="ngModel"
                           [ngClass]="{ 'is-invalid': quotationForm.submitted && expiryDate.invalid }"
                           disabled
                           required>
                    <div *ngIf="quotationForm.submitted && expiryDate.invalid" class="invalid-feedback">
                        <div *ngIf=" expiryDate.errors.required">Phone number is required</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group row" style="margin-left: 5%; width: 90%">
                    <label>Description</label>
                    <textarea style="border: solid  #23275b 1px" type="text" class="form-control"  placeholder="Description"
                           [(ngModel)]="quotation.description"
                           name="description"
                           #description="ngModel"
                           [ngClass]="{ 'is-invalid': quotationForm.submitted && description.invalid }"
                           disabled
                           required>
                    </textarea>
                    <div *ngIf="quotationForm.submitted && description.invalid" class="invalid-feedback">
                        <div *ngIf=" description.errors.required">Company registration is required</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group row" style="margin-left: 5%; width: 90%">
                    <label>Address</label>
                    <input style="border: solid  #23275b 1px" type="text" class="form-control"  placeholder="Address"
                           [(ngModel)]="quotation.bill_address"
                           name="bill_address"
                           #billAddress="ngModel"
                           [ngClass]="{ 'is-invalid': quotationForm.submitted && billAddress.invalid }"
                           disabled
                           required>
                    <div *ngIf="quotationForm.submitted && billAddress.invalid" class="invalid-feedback">
                        <div *ngIf=" billAddress.errors.required">Bill address is required</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group row" style="margin-left: 5%; width: 90%">
                    <label>Reason</label>
                    <input style="border: solid  #23275b 1px" type="text" class="form-control"  placeholder="Reason"
                           [(ngModel)]="quotation.reason"
                           name="reason"
                           #reason="ngModel"
                           [ngClass]="{ 'is-invalid': quotationForm.submitted && reason.invalid }"
                           disabled
                           required>
                    <div *ngIf="quotationForm.submitted && reason.invalid" class="invalid-feedback">
                        <div *ngIf=" reason.errors.required">Bill address is required</div>
                    </div>
                </div>
            </div>

            <div class="table-responsive" style="margin-left: 3%; width: 94%">

                <table class="table table-striped" >
                    <thead>
                    <tr>
                        <th>Focus area</th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Number of Test</th>
                        <th>Unit price</th>
                        <th>Total</th>
                        <th *ngIf="quotation.status != 'Accepted'">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of quotation.items; let i = index;">
                            <td style="width: 20%; border: solid  #fff 1px">
                                {{product.focusArea}}
                            </td>
                            <td style="width: 20%; border: solid  #fff 1px" class="text-black-50">
                                {{product.item}}
                            </td>

                            <td style="border: solid  #fff 1px" class="text-black-50">
                                {{product.quantity}}
                            </td>
                            <td style="border: solid  #fff 1px" class="text-black-50">
                                {{product.numberOfTests}}
                            </td>
                            <td style="border: solid  #fff 1px" class="text-black-50">
                               R {{product.unit_Price}}
                            </td>
                            <td style="border: solid  #fff 1px" class="text-black-50">
                               R {{product.total}}
                            </td>
                            <td style="width: 10%" *ngIf="quotation.status != 'Accepted'">
                                <button type="button" class="mr-2 btn-icon btn-icon-only btn btn-outline-danger" (click)="deleteItem(i)">
                                    <i class="fa fa-fw" aria-hidden="true" title="trash"></i>
                                </button>
                            </td>
                        </tr>

                        <tr *ngIf="quotation.status != 'Accepted'">
                            <td style="width: 20%; border: solid  #fff 1px">
                                <select class="form-control"
                                        [(ngModel)]="selectedFocusArea"
                                        name="selectedFocusArea"
                                        #focusArea="ngModel"
                                        (ngModelChange)="getProducts(selectedFocusArea)"
                                        [ngClass]="{ 'is-invalid': quotationForm.submitted && focusArea.invalid }"
                                        required>
                                    <option *ngFor="let focusArea of focusAreas" [value]="focusArea.name">{{focusArea.name}}</option>
                                    <div *ngIf="quotationForm.submitted && focusArea.invalid" class="invalid-feedback">
                                        <div *ngIf=" focusArea.errors.required">Focus area is required</div>
                                    </div>
                                </select>
                            </td>
                            <td style="width: 20%; border: solid  #fff 1px">
                                <select class="form-control"
                                        [(ngModel)]="selectedProduct"
                                        name="selectedProduct"
                                        #product="ngModel"
                                        [ngClass]="{ 'is-invalid': quotationForm.submitted && product.invalid }"
                                        required>
                                    <option *ngFor="let product of products" [value]="product.item">{{product.item}}</option>
                                    <div *ngIf="quotationForm.submitted && product.invalid" class="invalid-feedback">
                                        <div *ngIf=" product.errors.required">Product is required</div>
                                    </div>
                                </select>
                            </td>
                            <td style="border: solid  #fff 1px">
                                <input type="number" class="form-control"
                                       [(ngModel)]="selectedQuantity"
                                       name="selectedQuantity"
                                       #quantity="ngModel"
                                       [min]="0"
                                       [ngClass]="{ 'is-invalid': quotationForm.submitted && quantity.invalid }"
                                       required>
                                <div *ngIf="quotationForm.submitted && quantity.invalid" class="invalid-feedback">
                                    <div *ngIf=" quantity.errors.required">Quantity is required</div>
                                </div>
                            </td>
                            <td style="border: solid  #fff 1px">
                                <input type="number" class="form-control"
                                       [(ngModel)]="selectedNumberOfTest"
                                       name="selectedNumberOfTest"
                                       [min]="0"
                                       #numberOfTest="ngModel"
                                       [ngClass]="{ 'is-invalid': quotationForm.submitted && numberOfTest.invalid }">
                                <div *ngIf="quotationForm.submitted && quantity.invalid" class="invalid-feedback">
                                    <div *ngIf=" numberOfTest.errors.required">Number of tests is required</div>
                                </div>
                            </td>
                            <td style="border: solid  #fff 1px">
                                <input type="number" class="form-control"
                                       [(ngModel)]="selectedUnitPrice"
                                       name="selectedUnitPrice"
                                       #unitPrice="ngModel"
                                       [ngClass]="{ 'is-invalid': quotationForm.submitted && unitPrice.invalid }"
                                       disabled
                                       required>
                                <div *ngIf="quotationForm.submitted && unitPrice.invalid" class="invalid-feedback">
                                    <div *ngIf=" unitPrice.errors.required">Unit price is required</div>
                                </div>
                            </td>
                            <td style="border: solid  #fff 1px">
                                <input type="number" class="form-control"
                                       [(ngModel)]="selectedProductTotal"
                                       name="selectedProductTotal"
                                       #productTotal="ngModel"
                                       [ngClass]="{ 'is-invalid': quotationForm.submitted && productTotal.invalid }"
                                       disabled
                                       required>
                                <div *ngIf="quotationForm.submitted && productTotal.invalid" class="invalid-feedback">
                                    <div *ngIf=" productTotal.errors.required">Total is required</div>
                                </div>
                            </td>
                            <td style="width: 10%; border: solid  #fff 1px">
                                <button type="button" class="mr-2 btn-icon btn-icon-only btn btn-outline-dark" (click)="addItem()">
                                    <i class="fa fa-fw" aria-hidden="true" title="plus"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                         <tr>
                             <td colspan="3">DISCOUNT %</td>
                             <td colspan="4">
                                 <div class="row">
                                     <div class="form-group row" style="margin-left: 5%; width: 90%; margin-top: 0%">
                                         <input style="border: solid  #23275b 1px" type="text" class="form-control"  placeholder="Discount percentage"
                                                [(ngModel)]="quotation.discount"
                                                name="discount"
                                                [min]="0"
                                                [max]="100"
                                                #discount="ngModel"
                                                [disabled]="quotation.status == 'Accepted'"
                                                [ngClass]="{ 'is-invalid': quotationForm.submitted && discount.invalid }"
                                                required>
                                         <div *ngIf="quotationForm.submitted && reason.invalid" class="invalid-feedback" style="font-weight: normal; font-size: small; color: #FFF">
                                             <div *ngIf=" discount.errors.required">discount percentage is required</div>
                                             <div *ngIf=" discount.errors.max">discount percentage invalid</div>
                                             <div *ngIf=" discount.errors.min">discount percentage invalid</div>
                                         </div>
                                     </div>
                                </div>
                             </td>
                         </tr>
                         <tr>

                             <td colspan="3">SUBTOTAL</td>
                             <td colspan="4">R {{quotation.sub_Total}}</td>
                         </tr>
                         <tr>
                             <td colspan="3">VAT 15%</td>
                             <td colspan="4">R {{quotation.vat_Amount}}</td>
                         </tr>
                        <tr>
                            <td colspan="3">GRAND TOTAL</td>
                            <td colspan="4">R {{quotation.grand_total}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div [hidden]="!showManagerMenu()">
                <div class="row" [hidden]="quotation.status == 'Accepted' || quotation.status == 'Pending Client Approval'">
                    <button style="margin: 3% 3% 3% 4%; width: 26.5%" type="button" class="btn btn-dark" data-dismiss="modal" (click)="regenerate(quotation)">
                        Generate quote
                    </button>

                    <button style="margin: 3%; width: 26.5%" type="button" class="btn btn-dark" data-dismiss="modal" (click)="rejectQuotation(quotation)">
                        Reject quote
                    </button>

                    <button style="margin: 3%; width: 26.5%" type="submit" class="btn btn-dark" data-dismiss="modal">
                        Accept quote
                    </button>
                </div>
            </div>

            <div [hidden]="showManagerMenu()">
                <div class="row" [hidden]="quotation.status == 'Accepted' || quotation.status == 'Pending Client Approval'">
                    <button style="margin: 3% 3% 3% 4%; width: 26.5%" type="button" class="btn btn-dark" data-dismiss="modal" (click)="updateQuotation(quotation)">
                        Generate quote
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div *ngIf="isLoading | async" class="overlay">
    <div class="spinner">
        <img class="loader" src="../../../assets/wheel.gif">
    </div>
</div>
